@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.about-section {
  position: absolute;
  top: 15%;
  left: 15%;
}
.about {
  color: white;
  /* padding-bottom: 10px; */
  /* border-bottom: thick solid #ffffff; */
  /* position: absolute;
  top: 15%;
  left: 15%; */
  font-size: 50px;
}

.about-section-career {
  position: absolute;
  top: 1%;
  left: 15%;
}
.about-career {
  color: white;
  padding-bottom: 15px;
  /* border-bottom: thick solid #ffffff; */
  /* position: absolute;
  top: 15%;
  left: 15%; */
  font-size: 50px;
}

.about-me {
  /* color: #d4d3cf; */
  padding-bottom: 10px;
  /* position: relative;
  top: 20%;
  left: 15%; */
  /* font-size: 25px; */
  margin-right: 20%;
  font-size: 22px;
  color: rgb(184, 184, 184);
  text-align: justify;
}

.about-roles {
  color: #d4d3cf;
  /* position: relative;
  top: 45%;
  left: 15%; */
  width: 80%;
  font-size: 10px;
}

.nextui-c-eFfoBo {
  
  background-color: #e28c73;
}

Text {
  color: #cbcbcb;
  font-weight: 600;
}

.grid-container {
  width: 100%;
}

.about-card {
  height: 50px;
  align-items: center;
  box-shadow: #ffffff;
  border-color: aqua;
}

.about-card:hover{
  background-color: '#f7d5b2';
}



/* .about-card Text {
  color: white;
} */